:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.5;
  font-weight: 500;
  min-width: 50%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {  
  border-color: aqua;
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-size: x-large;
  font-family: inherit;
  background-color:#242424;
  cursor: pointer;
  color: rgb(93, 95, 189);
  transition: border-color 0.25s;
}
button:hover {
  border-color: #07081a;
  border: 1px solid #ff8364;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.loc-form{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  min-width: 120%;
  gap: 8rem;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  line-height: 1.1;
  background-color: rgb(228, 250, 222);
  box-sizing: border-box;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #a9acf1;
  flex-grow: 1;
}

.loc-form input {
  width: 100%; /* This will make the input take the full width of the parent */
  border-radius: 0.75rem;
}

.part-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  min-width: 120%;
  gap: 8rem;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  line-height: 1.1;
  background-color: rgb(228, 250, 222);
  box-sizing: border-box;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #a9acf1;
  flex-grow: 1;
}

.part-form input {
  width: 100%;
  border-radius: 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
